.task_1{   /* block */
    border: 3px solid black;
    margin-bottom: 15px;
}

h1 {  /* block */
    height: 50px;
    color: white;
    background-color: blue;
    text-align: center;
}

.task_1 p {   /* block */
    height: 50px;
    background-color: aqua;
}

.task_1 .div_block {  /* block */
    height: 50px;
    background-color: red;
}

.task_1 img {  /* inline */
    margin-top: 10px;
}

.task_2{   /* block */
    border: 3px solid black;
    margin-bottom: 15px;
}

.task_2 h2 {
    display: inline;   /* преобразование блочного элемента в inline */
    color: white;
    background-color: blue;
    text-align: center;
}

.task_2 p {
    display: inline;   /* преобразование блочного элемента в inline */
    background-color: aqua;
}

.task_2 .div_inline {  /* преобразование блочного элемента в inline */
    display: inline;
    margin-left: 5px;
    background-color: red;
}

.task_2 img {  /* преобразование строчного элемента в block */
    display: block;
    margin-top: 10px;
}

.task_3 { /* блок с заданием 3 */
    margin: 20px;
    padding: 10px;
    border: 3px solid black;
}

.task_3 h2 {
    color: white;
    background-color: blue;
    text-align: center;
}

.task_3 p {
    background-color: aqua;
}

.task_3 img {
    display: block; /* преобразование строчного элемента в block для выравнивания по вертикали */
}

.task_3 a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: red;
}


