/* Шрифты */

@font-face {
    font-family: 'DM Sans';
    src: url('.//assets/fonts/DMSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('./assets/fonts/DMSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Общие стили */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    background-color: #191919;
}

header, section, footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/* Шапка */

.header {
    display: flex;
    padding: 26px 50px;
    justify-content: space-between;
    align-items: center;
} 

.header__nav-list{
    display: flex;
    max-width: 403px;
    max-height: 67px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}


.header__nav-link {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.header__nav-link:hover {
    color: #118DA8;
}

/* 1 секция */

.hero {
    display: flex;
    padding: 14px 70px 42px 40px;
    gap: 60px;
}

.hero__content {
    max-width: 530px;
    
}

.hero__promo {
    margin-top: 320px;
    font-size: 70px;
    font-weight: 400;
    line-height: 88px;
    letter-spacing: 3.2px;
}

.hero__promo--next-word {
    position: relative;
    font-size: 75px;
    font-weight: 400;
}

.hero__promo--next-word svg {
    position: absolute;
    left: 0;
    right: 1em;
    top: 1.15em;
}

.hero__promo--level-word {
    font-size: 80px;
    font-weight: 700;
}

.hero__platforms {
    margin-top: 85px;
    margin-left: 25px;
}

.hero__platforms-promo {
    margin-bottom: 16px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.332px;
}

.hero__platforms-list{
    display: flex;
    gap: 18px;
    list-style-type: none;
}

.hero__platforms-item {
    width: 32px;
    height: 32px;
}