 @font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
}

p {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 500;
}