@media (max-width: 1440px) {
    
    .container {
        max-width: 768px;
        padding: 0 39px;
    }

    .nav-menu-item {
        font-size: 18px;
    }

    .hero-img img {
        max-width: 330px;
        max-height: 380px;
    }

    .hero-title {
        font-size: 40px;
        line-height: 100%;
    }

    .hero-text {
        font-size: 18px;
    }

    .hero-btn {
        margin-top: 40px;
        padding: 18.5px 51.5px;
    }

    .products .container {
        height: 2463px;
    }

    .products-title {
        font-size: 30px;
    }

    .products-list {
        grid-template-columns: 330px 330px;
        grid-template-rows: 730px 730px 730px;
    }

    .painting img {
        max-width: 290px;
    }

    .promo {
        padding: 70px 0;
        background: url('../assets/images/pic_background_768.jpg') center / cover no-repeat;
    }

    .promo-content {
        max-width: 100%;
    }

    .promo-title img {
        max-width: 60px;
        max-height: 60px;
    }

    .promo-title h2 {
        max-width: 370px;
        font-size: 30px;
    }

    .promo-info {
        margin-top: 30px;
    }

    .promo-btn {
        margin-top: 48.5px;
        padding: 18.5px 36.5px;
    }

    .about .container {
        display: block;
    }

    .about-img img {
        width: 510px;
        height: 504px;
    }

    .about-content {
        margin-top: 40px;
    }

    .about-title {
        font-size: 30px;
    }

    .about-info {
        margin-top: 30px;
    }

    .about-foto {
        margin-top: 30px;
    }

    .footer .container {
        padding: 23px 39px;
        display: grid;
        grid-template-areas: "footer-tel footer-tel"
                             "footer-info social_media-box";
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        column-gap: 75px;
    }

    .footer-tel {
        grid-area: footer-tel;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-tel a {
        margin: 0;
    }

    .footer-info {
        grid-area: footer-info;
    }

    .social_media-box {
        grid-area: social_media-box;
        display: block;
    }
}

@media (max-width: 768px) {
    
    .container {
        max-width: 576px;
        padding: 0 33px;
    }

    .header .container {
        padding: 16px 33px;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
    }

    .divader {  /* полоска в шапке и в подвале*/
        display: block;
        width: 100%;
        height: 1px;
        background-color: #C3D1C6;
    }

    .nav-menu_card {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }

    .hero {
        margin: 50px 0;
    }

    .hero-img img {
        max-width: 195px;
        max-height: 239px;
    }

    .hero-title {
        font-size: 36px;
    }

    .hero-text {
        margin-top: 10px;
        font-size: 16px;
    }

    .hero-btn {
        margin-top: 11px;
        padding: 14.5px 41px;
        font-size: 18px;
    }

    .products .container {
        height: 1680px;
    }

    .products-tab {
        padding: 0;
    }

    .products-header {
        display: block;
    }

    .products-title {
        font-size: 24px;
    }

    .products-btn {
        margin-top: 20px;
    }

    .products-btn a {
        font-size: 18px;
    }

    .products-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 240px 240px;
        grid-template-rows: 504px 504px 504px;
        gap: 30px;
    }

    .painting img {
        max-width: 200px;
        max-height: 250px;
    }

    .painting-autor {
        margin-top: 15px;
        font-size: 16px;
    }

    .painting-title {
        font-size: 23px;
    }

    .painting-description {
        font-size: 14px;
    }

    .painting-price {
        font-size: 20px;
    }

    .painting-btn {
        margin-top: 10px;
        padding: 14.5px 0;
        font-size: 18px;
    }

    .promo {
        margin-top: 50px;
        padding: 50px 0;
        background: url('../assets/images/pic_background-576.jpg') center / cover no-repeat;
    }

    .promo-title img {
        max-width: 50px;
        max-height: 50px;
    }

    .promo-title h2 {
        max-width: 261px;
        font-size: 24px;
    }

    .promo-info {
        margin-top: 20px;
        font-size: 16px;
        line-height: 140%;
    }

    .promo-btn {
        margin-top: 20px;
        padding: 14.5px 33.5px;
        font-size: 18px;
    }

    .about {
        margin-top: 50px;
    }

    .about-img img {
        width: 375px;
        height: 370px;
    }

     .about-content {
        margin-top: 30px;
    }

    .about-title {
        font-size: 24px;
    }

    .about-info {
        margin-top: 20px;
        font-size: 16px;
        line-height: 140%;
    }

    .about-foto {
        margin-top: 30px;
    }

    .footer {
        margin-top: 50px;
    }

    .footer .container {
        padding: 23px 33px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .footer-tel {
        margin-bottom: 14px;
    }

    .footer-tel p {
        font-size: 16px;
    }

    .footer-info {
        gap: 0;
        justify-content: space-between;
    }

    .footer-info ul li a {
        font-size: 16px;
    }

    .social_media-box {
        display: flex;
        align-items: center;
    }

    .footer-social_media {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .footer-legal {
        display: flex;
        flex-direction: row;
        gap: 2px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 320px;
        padding: 0 15px;
    }

    .header {
        background-image: linear-gradient(to bottom, #fff 50%, #E1EDE6 50%);
    }

    .header .container {
        padding: 0;
        padding-top: 17px;
    }

    .divader {
        display: none;
    }

    .nav-menu_card {
        padding: 16px 15px;
        position: relative;
        flex-wrap: wrap;
    }

    .nav-menu-burger {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu:target {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100vb;
        flex-direction: column;
        gap: 0;
        background-color: #E1EDE6;
        z-index: 3;
    }

    .nav-menu .logo {
        padding: 16px 15px;
        display: flex;
        justify-content: center;
        background-color: #FFF;
    }

    .nac-menu-close {
        display: inline-block;
        margin: 16px 15px 30px 15px;
    }

    .nav-menu-item {
        margin-left: 15px;
        margin-bottom: 50px;
        font-size: 18px;
    }

    .hero-img {
        display: none;
    }

    .hero-title {
        font-size: 30px;
    }

    .hero-text {
        margin-top: 20px;
        font-size: 14px;
    }

    .hero-btn {
        margin-top: 40px;
        padding: 14.5px 29px;
    }

    .products .container {
        height: 3268px;
    }

    .products-btn {
        margin-top: 15px;
        gap: 6px;
    }

    .products-btn a {
        padding: 7px 15px;
        font-size: 15px;
    }

    .products-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 290px;
        grid-template-rows: repeat(6, 504px);
        gap: 30px;
    }

    .painting img {
        max-width: 250px;
        max-height: 250px;
    }

    .promo {
        padding: 50px 0;
        background: url('../assets/images/pic_background-320.jpg') center / cover no-repeat;
    }

    .promo-btn {
        width: 100%;
        padding: 14.5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-img img {
        width: 290px;
        height: 290px;
    }

    .about-foto {
        margin-top: 20px;
        gap: 25px;
    }

    .footer .container {
        padding: 20px 15px;
    }

    .footer-tel {
        margin-bottom: 83px;
        gap: 20px;
        flex-wrap: wrap;
    }

    .footer-tel a {
        font-size: 16px;
    }

    .footer-info {
        position: relative;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 120px;
    }

    .footer-info ul:nth-child(1) {
        position: absolute;
        right: 0;
        bottom: 114px;
        font-size: 16px;
    }

    .footer-info ul {
        font-size: 16px;
    }

    .footer .divader {
        display: block;
        height: 1px;
    }

    /* .footer-info ul li a {
        font-size: 16px;
    } */



    

}